<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" th:href="@{/static/plugin/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/plugin/bootstrap-table/bootstrap-table.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/plugin/font-awesome/4.7.0/css/font-awesome.min.css}"/>
    <title>角色员工分配</title>
</head>
<body>
<ol class="breadcrumb">
    <li>首页</li>
    <li>系统设置</li>
    <li>角色管理</li>
    <li>角色人员分配</li>
</ol>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <div id="officeNode" style="margin-left: 20px;"></div>
        </div>
        <div class="col-md-10">
            <div class="panel-body">
                <div id="searchField" class="panel panel-default" style="margin-top: -15px; margin-bottom: -3px;">
                    <div class="panel-body">
                        <div class="col-xs-12 col-sm-6 col-md-2">
                            <label class="label-item single-overflow pull-left" title="员工呢称/邮箱/手机号:">员工呢称/邮箱/手机号:</label>
                            <input id="account" maxlength="11" class="form-control"/>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-2">
                            <label class="label-item single-overflow pull-left" title="工号:">工号:</label>
                            <input id="jobNumber" maxlength="30" class="form-control"/>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-2">
                            <label class="label-item single-overflow pull-left" title="真实姓名:">真实姓名:</label>
                            <input id="realName" maxlength="20" class="form-control"/>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-2">
                            <label class="label-item single-overflow pull-left" title="登陆锁:">登陆锁:</label>
                            <select id="loginLock" class="form-control">
                                <option value="-1">全部</option>
                                <option value="1">未锁</option>
                                <option value="0">已锁</option>
                            </select>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-2">
                            <label class="label-item single-overflow pull-left" title="删除标识:">删除标识:</label>
                            <select id="delFlag" class="form-control">
                                <option value="-1">全部</option>
                                <option value="1">正常</option>
                                <option value="0">已删除</option>
                            </select>
                        </div>
                    </div>
                </div>
                <table id="table" style="table-layout: fixed;"></table>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" th:src="@{/static/plugin/jquery/1.9.1/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/static/plugin/bootstrap/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/static/plugin/bootstrap-table/bootstrap-table.min.js}"></script>
<script type="text/javascript" th:src="@{/static/plugin/bootstrap-table/locale/bootstrap-table-zh-CN.min.js}"></script>
<script type="text/javascript" th:src="@{/static/plugin/bootstrap-treeview/bootstrap-treeview.min.js}"></script>
<script type="text/javascript" th:src="@{/static/plugin/layer/2.4/layer.js}"></script>
<script type="text/javascript" th:src="@{/static/plugin/map.js}"></script>
<script type="text/javascript" th:src="@{/static/project/common.js}"></script>
<script type="text/javascript" th:src="@{/static/project/windows.js}"></script>
<script type="text/javascript" th:src="@{/static/project/modules/sys/role/role-employee.js}"></script>
</html>
