<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>选择机构</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/plugin/zTree/v3/css/bootstrapStyle/bootstrapStyle.css}"/>
</head>
<body>
<div>
    <ul id="targetZTree" class="ztree"></ul>
</div>
</body>
<script type="text/javascript" th:src="@{/static/plugin/jquery/1.9.1/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/static/plugin/zTree/v3/js/jquery.ztree.all-3.5.min.js}"></script>
<script type="text/javascript" th:src="@{/static/plugin/layer/2.4/layer.js}"></script>
<script type="text/javascript" th:src="@{/static/project/modules/common/select-office.js}"></script>
</html>
