<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>选择图片</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/plugin/bootstrap-photo/css/bootstrap-photo.css}"/>
</head>
<body>
<div>
    <ul id="targetPhoto"></ul>
</div>
</body>
<script type="text/javascript" th:src="@{/static/plugin/jquery/1.9.1/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/static/plugin/bootstrap-photo/js/bootstrap-photo.js}"></script>
<script type="text/javascript" th:src="@{/static/plugin/layer/2.4/layer.js}"></script>
<script type="text/javascript" th:src="@{/static/project/modules/common/select-photo.js}"></script>
</html>
