<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mapper.RoleEmployeeMapper" >
    <resultMap id="BaseResultMap" type="model.entity.RoleEmployee" >
        <id column="ID" property="ID" jdbcType="INTEGER" />
        <result column="roleID" property="roleID" jdbcType="INTEGER" />
        <result column="employeeID" property="employeeID" jdbcType="INTEGER" />
    </resultMap>

    <sql id="Base_Column_List" >
        ID, roleID, employeeID
    </sql>

    <!-- 根据员工ID返回角色ID列表 -->
    <select id="getRoleIDSForEmployeeID" resultType="java.lang.Integer">
        SELECT roleID FROM `sys_role_employee` WHERE employeeID = #{employeeID}
    </select>


</mapper>
