<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" th:href="@{/static/plugin/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/plugin/nice-validator/jquery.validator.css}"/>
    <style type="text/css">
        .input-width {
            width:300px;
        }
        .formClass {
            margin-left: 10px;margin-right: 10px; margin-top: 10px; margin-bottom: 10px;
        }
    </style>
    <title>谷米后台管理系统</title>
</head>
<body>
<div id="formDiv" class="formClass">
<form id="inputForm" class="form-horizontal" data-validator-option="{timely:2, theme:'yellow_right_effect'}">
    <input id="id" name="id" type="hidden"/>
    <input id="handlerType" name="handlerType" type="hidden"/>
    <table class="table table-bordered">
        <tbody>
        <tr>
            <td class="width-15 active"><label class="pull-right"><font color="red">*</font>Lable:</label></td>
            <td class="width-35"><input class="form-control input-width" id="lable" name="lable"></td>
        </tr>
        <tr>
            <td class="width-15 active"><label class="pull-right">Value:</label></td>
            <td class="width-35"><input class="form-control input-width" id="value" name="value"></td>
        </tr>
        <tr>
            <td class="width-15 active"><label class="pull-right"><font color="red">*</font>类型:</label></td>
            <td class="width-35"><input class="form-control input-width" id="type" name="type"></td>
        </tr>
        <tr>
            <td class="width-15 active"><label class="pull-right"><font color="red">*</font>排序:</label></td>
            <td class="width-35"><input class="form-control input-width" id="sort" name="sort"></td>
        </tr>
        <tr>
            <td class="width-15 active"><label class="pull-right">描述:</label></td>
            <td class="width-35"><textarea id="description" name="description" rows="3" maxlength="200" class="form-control input-width"></textarea></td>
        </tr>
        </tbody>
    </table>
</form>
</div>
<script type="text/javascript" th:src="@{/static/plugin/jquery/1.9.1/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/static/plugin/bootstrap/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/static/plugin/nice-validator/jquery.validator.min.js}" ></script>
<script type="text/javascript" th:src="@{/static/plugin/nice-validator/local/zh-CN.js}" ></script>
<script type="text/javascript" th:src="@{/static/plugin/layer/2.4/layer.js}"></script>
<script type="text/javascript" th:src="@{/static/project/modules/sys/dictionary/dictionary-form.js}"></script>
</body>
</html>
