<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/static/plugin/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/plugin/nice-validator/jquery.validator.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/plugin/bootstrap-switch/css/bootstrap-switch.min.css}"/>
    <style type="text/css">
        .input-width {
            width: 300px;
        }

        .formClass {
            margin-left: 10px;
            margin-right: 10px;
            margin-top: 10px;
            margin-bottom: 10px;
        }
    </style>
    <title>机构管理</title>
</head>
<body>
<div id="formDiv" class="formClass">
    <form id="inputForm" class="form-horizontal">
        <input id="id" name="id" type="hidden"/>
        <input id="handlerType" name="handlerType" type="hidden"/>
        <table class="table table-bordered  table-condensed dataTables-example dataTable no-footer">
            <tbody>
            <tr>
                <td class="width-15 active"><label class="pull-right">上级机构:</label></td>
                <td class="width-35">
                    <input id="officeID" name="officeID" type="hidden"/>
                    <div class="input-group">
                        <input id="officeName" name="officeName" readonly class="form-control"/>
                        <span class="input-group-btn">
	       		            <button type="button" id="officeSelectButton" class="btn btn-primary"><i
                                    class="glyphicon glyphicon-search"></i></button>
	             	        <button type="button" id="officeDeleteButton" class="close" data-dismiss="alert"
                                    style="position: absolute; top: 5px; right: 50px; z-index: 999; display: block;">×</button>
                        </span>
                    </div>
                    <label id="Name-error" class="error" style="display:none"></label>
                </td>
                <td class="width-15 active"><label class="pull-right">归属区域:</label></td>
                <td class="width-35">
                    <input id="areaID" name="areaID" type="hidden"/>
                    <div class="input-group">
                        <input id="areaName" name="areaName" readonly class="form-control"/>
                        <span class="input-group-btn">
	       		            <button type="button" id="areaSelectButton" class="btn btn-primary"><i
                                    class="glyphicon glyphicon-search"></i></button>
	             	        <button type="button" id="areaDeleteButton" class="close" data-dismiss="alert"
                                    style="position: absolute; top: 5px; right: 50px; z-index: 999; display: block;">×</button>
                        </span>
                    </div>
                    <label id="Name-error2" class="error" style="display:none"></label>
                </td>
            </tr>
            <tr>
                <td class="width-15 active"><label class="pull-right"><font color="red">*</font>机构名称:</label></td>
                <td class="width-35"><input id="name" name="name" class="form-control"/></td>
                <td class="width-15 active"><label class="pull-right"><font color="red">*</font>排序:</label></td>
                <td class="width-35"><input id="sort" name="sort" class="form-control"/></td>
            </tr>
            <tr>
                <td class="width-15 active"><label class="pull-right">机构类型:</label></td>
                <td class="width-35"><select id="type" name="type" class="form-control"/></td>
                <td class="width-15 active"><label class="pull-right">是否可用:</label></td>
                <td class="width-35"><input id="useable" name="useable" checked type="checkbox"/></td>
            </tr>
            <tr>
                <td class="width-15 active"><label class="pull-right">负责人:</label></td>
                <td class="width-35"><input id="master" name="master" class="form-control"/></td>
                <td class="width-15 active"><label class="pull-right">电话:</label></td>
                <td class="width-35"><input id="phone" name="phone" class="form-control"/></td>
            </tr>
            <tr>
                <td class="width-15 active"><label class="pull-right">邮政编码:</label></td>
                <td class="width-35"><input id="zipCode" name="zipCode" class="form-control"/></td>
                <td class="width-15 active"><label class="pull-right">传真:</label></td>
                <td class="width-35"><input id="fax" name="fax" class="form-control"/></td>
            </tr>
            <tr>
                <td class="width-15 active"><label class="pull-right">邮箱:</label></td>
                <td class="width-35"><input id="email" name="email" class="form-control"/></td>
                <td class="width-15 active"><label class="pull-right"></label></td>
                <td class="width-35"></td>
            </tr>
            <tr>
                <td class="width-15 active"><label class="pull-right">联系地址:</label></td>
                <td class="width-35" colspan="3"><input id="address" name="address" class="form-control"/></td>
            </tr>
            <tr>
                <td class="width-15 active"><label class="pull-right">备注:</label></td>
                <td class="width-35" colspan="3"><textarea id="remarks" name="remarks" rows="3" maxlength="200"
                                                           class="form-control"></textarea></td>
            </tr>
            </tbody>
        </table>
    </form>
</div>
<script type="text/javascript" th:src="@{/static/plugin/jquery/1.9.1/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/static/plugin/bootstrap/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/static/plugin/bootstrap-switch/js/bootstrap-switch.min.js}"></script>
<script type="text/javascript" th:src="@{/static/plugin/nice-validator/jquery.validator.min.js}"></script>
<script type="text/javascript" th:src="@{/static/plugin/nice-validator/local/zh-CN.js}"></script>
<script type="text/javascript" th:src="@{/static/plugin/layer/2.4/layer.js}"></script>
<script type="text/javascript" th:src="@{/static/project/windows.js}"></script>
<script type="text/javascript" th:src="@{/static/project/common.js}"></script>
<script type="text/javascript" th:src="@{/static/plugin/map.js}"></script>
<script type="text/javascript" th:src="@{/static/plugin/LoderStarLib/js/select.js}"></script>
<script type="text/javascript" th:src="@{/static/project/modules/sys/office/office-form.js}"></script>
<script type="text/javascript" th:src="@{/static/project/modules/common/area.json}"></script>
</body>
</html>
